/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */



/* LANDING PAGE */
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  /* border: 5px solid black; */
}
.nav{
  display: flex;
  gap: 50px;
}
.reusableBtn{
  padding: 10px;
  background-color: #4F46E5;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.reusableBtn:hover{
  background-color: #918ddc;
  filter: drop-shadow(0 0 2em #646cffaa);
}
.landingPageImg{
  width: 35%;
  height: 15%;
  border-radius: 15px;
}
.hero{
  display: flex;
}
.hero {
  background-color: #4f46e5;
  color: white;
  padding: 4rem 2rem;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

/* FOOTER */
.footerParagraph{
  font-weight: bold;
}
.footer{
  padding: 20px;
}

/* LOGIN FORM */

.loginForm{
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* width: 40%; */
}

.formContainer{
  width: 30%;
  height: 60%;
  border: 1px solid skyblue;
  padding: 20px;
  margin-top: 13%;
}
.root{
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
input{
  height: 20px;
  padding: 10px;
  outline: none;
  border: 1px solid #ccc;  
  border-radius: 5px;
}
input:focus{
  outline: none;
  border: 1.5px solid #4f46e5;
  box-shadow: 0 0 5px rgba(22, 42, 93, 0.2);
}
.loginBtn{
  height: 40px;
  background-color: #4f46e5;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
input::placeholder{
  font-style: italic;
}