/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  /* border: 5px solid black; */
}
.nav{
  display: flex;
  gap: 50px;
}
.reusableBtn{
  padding: 10px;
  background-color: #4F46E5;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.reusableBtn:hover{
  background-color: #918ddc;
  filter: drop-shadow(0 0 2em #646cffaa);
}
.landingPageImg{
  width: 35%;
  height: 15%;
  border-radius: 15px;
}
.hero{
  display: flex;
}
.hero {
  background-color: #4f46e5;
  color: white;
  padding: 4rem 2rem;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.footerParagraph{
  font-weight: bold;
}
.footer{
  padding: 20px;
}
